In [1]:
a = 3

In [2]:
print(a)

3

In [4]:
a = 1
b = 2
c = -1231
d = 123
print(a,b,c,d)

1 2 -1231 123

In [5]:
add = 123 + 321
print(add)

444

In [6]:
res = 3 + ( 2 * 5 )
print(res)

13

In [9]:
res = res / 3
print(res)

0.48148148148148145

In [10]:
print(1 + 2 - 1231)

-1228

# 변수 문자열 사용법

In [11]:
a = 'Hello World!'
print(a)

b = "안녕 세상!"
print(b)

Hello World!
안녕 세상!

In [13]:
 longName = '''원하는
 내용물
 편하게
 
 여러 줄로 입력하기'''
    
print(longName)

원하는
내용물
편하게

여러 줄로 입력하기

# 변수 활용 퀴즈

In [18]:
a = 'my name is '
b = 'Django'
print(a + b)

my name is Django

In [19]:
num1 = '1234'
num2 = '4321'
print(num1 + num2)

12344321

In [20]:
K = 'P'
P = 123
print(K)

P

# if 사용하기

In [26]:
age = 17

if age >= 14 and age <= 16:
    print("중학생입니다")
else:
    print("중학생이 아니므로 할인해 드릴 수 없습니다.")

중학생이 아니므로 할인해 드릴 수 없습니다.

In [27]:
score = 85

# 90점 이상은 수, 80점 이상은 우, 70점 이상은 미, 60점 이상은 양, 그 외는 가

if score >= 90:
    print('수')
elif score >= 80:
    print('우')
elif score >= 70:
    print('미')
elif score >= 60:
    print('양')
else:
    print('가')

우

# 미션2

In [28]:
score = 85

# 90점 이상은 수, 80점 이상은 우, 70점 이상은 미, 60점 이상은 양, 그 외는 가

if score >= 90:
    print('수')
if score >= 80 and score < 90:
    print('우')
if score >= 70 and score < 80:
    print('미')
if score >= 60 and score < 70:
    print('양')
if score < 60:
    print('가')

우

# 자율 1

In [32]:
age = 25
score = 75

if age >= 20:
    if score >= 80:
        print("합격")
    else:
        print("불합격")
        
if age < 20:
    if score >= 75:
        print("합격")
    else:
        print("불합격")

불합격

# 리스트

In [36]:
myname = '박청용'
birth = 650101
addr = '서울 공덕 마포'

person_info = [myname, birth, addr, '남자', 1100]

print(person_info[0])
print(person_info[1])
print(person_info[4])

박청용
650101
1100

# 딕셔너리

In [42]:
myname = '박청용'
birth = 650101
addr = '서울 공덕 마포'

user_info = { 
    'name': myname, 
    'birth': birth,
    'address': addr,
    'gender': '남자',
    'point': 1100
}
print(user_info['gender'])
print(user_info['birth'])
print(user_info['point'])

남자
650101
1100

In [50]:
person_info2 = ['박지성', 810225,  '맨체스터', '남자', 13000]

user_list = [ person_info, person_info2, user_info ]

print(user_list[0])
print(user_list[1])
print(user_list[1][2])
print(user_list[2]['address'])

['박청용', 650101, '서울 공덕 마포', '남자', 1100]
['박지성', 810225, '맨체스터', '남자', 13000]
맨체스터
서울 공덕 마포