In [1]:
import pandas as pd

df = pd.read_csv('data/korean_players.csv')
df

    이름  적합사이즈  나이  출장수    키  몸무게
0  조현우    275  27   12  189   75
1  김영권    285  29   69  186   81
2  김민재    290  22   19  190   88
3  이청용    265  30   89  180   70
4  손흥민    260  26   79  183   77
5  이재성    275  26   43  180   70
6  백승호    280  22    0  180   68
7  이강인    270  18    0  173   63
8  이승우    260  21   10  170   63
9  황의조    275  26   25  184   73

In [2]:
x_train = df[['나이', '출장수', '키', '몸무게']]
y_train = df['적합사이즈']

In [3]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train)

print('train set accuracy:', lr.score(x_train, y_train))

train set accuracy: 0.6550739388896691

In [7]:
df_test = pd.read_csv('data/test_players.csv')
df_test

    이름  나이  출장수    키  몸무게
0  황인범  22   14  177   67
1  김신욱  31   51  196   93

In [8]:
x_test = df_test[['나이', '출장수', '키', '몸무게']]

lr.predict(x_test)

array([270.2212304 , 295.31336894])

# 자율실습 1

In [9]:
df_test = pd.read_csv('data/test_players.csv')
df_test

    이름  나이  출장수    키  몸무게
0  황인범  22   14  177   67
1  김신욱  31   51  196   93

In [10]:
x_test = df_test[['나이', '출장수', '키', '몸무게']]

prediction = lr.predict(x_test)
prediction

array([270.2212304 , 295.31336894])

# 자율실습 2

In [11]:
lr.predict([[15, 0, 160, 50]])

array([251.43870005])

In [12]:
target_index = 0
name = df_test.loc[targewt_index, '이름']
predict = prediction[target_index]

print(name + '회원님은' + str(predict) + '사이즈가 가장 잘 맞습니다.')

NameError: name 'targewt_index' is not defined